.member-list-container {
    padding-top: 20px;
}
.member-list-container h1 {
    text-align: center;
    font-size: 2.5rem;
    color: #278F84;
    margin-bottom: 10px;
}
.member-list-container .filter-stats {
    font-size: 0.9rem;
    color: #666;
    text-align: center;
}
.member-list-container .row {
    margin-top: 20px;
}